

h1{
    background-color: aquamarine;
    padding:1%;
    width: 25%;

}
ul{
    float: right;
    text-align-last:none;
}
body{
    background:rgb(234, 242, 245);
    text-align: auto;
    font-size: 18px;
    clear:right;
    margin: auto;
}
body, html{
    width: 100%;
    height: 100%;

}
section{
    background: white;
    padding:1%;
    font-size: 16px;
    width:55%;
    height:60%;
    margin-left: 0;;
}
img{
    width: 250px;
    height:340px;
}
nav{
    background-color: rgb(198, 230, 238);
    width: 35%;
    height:40%;
    float:right;
    margin-top:0;
}














